  @import "../../Variables.scss";
  
  .banner {
    background: url("/Images/pope.jpg") no-repeat center center; ;
    height: 50rem;
    background-size: cover;

    .progress {
      background-color: rgba($color: white, $alpha: .5) !important;
      height: 3rem !important;
      border-radius: 0 !important;
    
      .progress-bar {
        background-color: rgba($color: black, $alpha: .3) !important;
      }
    }
    
    .progressDaysContainer {
      position: relative;
      transform: translate(0, 767%); 
    }
    
    .closingIn {
      position: absolute;
      left: 200px;
      top: 40%;
      font-size: 10px;
      font-weight: 500;
      font-family: Lato;
      color: white;
    }
    
    .numberDown {
      position: absolute;
      left: 290px;
      top: 20%;
      text-align: initial;
      font-size: 25px;
      font-weight: 300;
      font-family: Lato;
      color: #333333;

      .numberDownBold {
        font-weight: 500;
      }
    }
  }

  .bannerContainer {
    width: 28rem;
    height: 24rem;
    padding: 2rem;
    background-color: rgba($color: black, $alpha: .4);
    transform: translate(50%, 30%); 
    backdrop-filter: blur(20px);

    .countUp {
      background: $hand-up-color;
      border: none;
      width: 14rem;
      height: 5rem;
      transform: translate(-28%, 120%); 
    }
    
    .countDown {
        background: $hand-down-color;
        border: none;
        width: 14rem;
        height: 5rem;
        transform: translate(56%, 120%); 
    }

    .handUp, .handDown {
      width: 40px;
      height: auto;
      transform: translate(250%, 50%); 
    }
  }

  .bannerOpinion {
    font-size: 16px;
    font-weight: 300;
    font-family: Lato;
    color: white;
    text-align: initial;
    margin-bottom: 0;
  }

  .bannerName {
    font-size: 60px;
    font-weight: 500;
    font-family: Lato;
    color: white;
    text-align: initial;
    margin-bottom: 15px;
  }

  .bannerInfo {
    font-size: 21px;
    font-weight: 300;
    font-family: Lato;
    color: white;
    text-align: initial;
    margin-bottom: 22px;
  }

  .bannerMoreInfo {
    font-size: 14px;
    font-weight: 300;
    font-family: Lato;
    color: white;
    text-align: initial;
    text-decoration: underline;
  }

  .bannerVerdict {
    font-size: 20px;
    font-weight: 700;
    font-family: Lato;
    color: white;
    text-align: initial;
    margin-top: 28px;
  }

  /* Mobile */
  @media screen and (max-width: 981px) {
    .bannerContainer {
      width: 23.5rem;
      height: 29rem;
      transform: translate(0, 50%); 

      .countUp {
        width: 12rem;
        height: 5rem;
        transform: translate(-32%, 185%); 
      }
      
      .countDown {
        width: 12rem;
        height: 5rem;
          transform: translate(39%, 185%); 
      }

      .handUp, .handDown {
        transform: translate(190%, 50%); 
      }
    }

    .banner {
      height: 15rem;

      .progressDaysContainer {
        position: relative;
        transform: translate(0, -579%); 
      }
      
      .closingIn {
        position: absolute;
        left: 10px;
        top: 40%;
        font-size: 10px;
        font-weight: 500;
        font-family: Lato;
        color: white;
      }
      
      .numberDown {
        position: absolute;
        left: 100px;
        top: 20%;
        text-align: initial;
        font-size: 25px;
        font-weight: 300;
        font-family: Lato;
        color: #333333;
  
        .numberDownBold {
          font-weight: 500;
        }
      }
    }
  }


 


  

  
