@import "../../Variables.scss";

.votes{
  font-size: 40px;
  font-weight: 300;
  font-family: Lato;
  color: #333333;
  margin-top: 40px;
}

.peopleContainer {
    position: relative;
    text-align: center;
}

.personContainer {
  margin: 15px;
  max-width: 33rem;
  max-height: 33rem;
}


.personImage {
    width: 33rem;
    height: 33rem;
    background-image: linear-gradient(0deg, rgba(0, 0, 0,0.8), rgba(255,255,255,0));
}



.personName {
    position: absolute;
    bottom: 41%;
    left: 52px;
    font-size: 45px;
    font-weight: 600;
    font-family: Lato;
    color: white;
    text-shadow: 1px 1px 2px black;
    text-align: initial;
    padding-right: 100px;
}

.iconHand {
  position: absolute;
  bottom: 44%;
  left: 16px;
  width: 28px;
  height: 28px;
}

.personCategory {
  position: absolute;
  bottom: 38%;
  left: 55px;
  font-size: 13px;
  font-weight: 400;
  font-family: Lato;
  color: white;
  text-shadow: 1px 1px 2px black;
  text-align: initial;
}

.personCategoryBold {
  font-weight: 700;
}

.personInfo {
  position: absolute;
  top: 66%;
  left: 40%;
  transform: translate(-50%, -50%); 
  font-size: 16px;
  font-weight: 300;
  font-family: Lato;
  color: white;
  text-shadow: 1px 1px 2px black;
  text-align: initial;
}

.thanksInfo {
  position: absolute;
  top: 66%;
  left: 23%;
  transform: translate(-50%, -50%); 
  font-size: 15px;
  font-weight: 300;
  font-family: Lato;
  color: white;
  text-shadow: 1px 1px 2px black;
  text-align: initial;
}

.people {
    justify-content: center;
}

.countUp {
  background: $hand-up-color;
  border: none;
  position: absolute;
  top: 75%;
  left: 14%;
  transform: translate(-50%, -50%); 
}

.countDown {
    background: $hand-down-color;
    border: none;
    position: absolute;
    top: 75%;
    left: 22%;
    transform: translate(-50%, -50%); 
}

.voteNow {
  background: transparent;
  border: 1px solid white;
  position: absolute;
  top: 75%;
  left: 35%;
  transform: translate(-50%, -50%); 
  color: white;
  font-size: 13px;
  font-family: Lato;
  font-weight: 600;
  padding: 8px 15px;
}

.voteAgain {
  background: transparent;
  border: 1px solid white;
  position: absolute;
  top: 75%;
  left: 20%;
  transform: translate(-50%, -50%); 
  color: white;
  font-size: 13px;
  font-family: Lato;
  font-weight: 600;
  padding: 8px 15px;
}

.handUp, .handDown {
    width: 30px;
    height: auto;
    padding: 3px;
    margin-bottom: 3px;
}

.progress {
  background-color: $hand-down-color !important;
  height: 3rem !important;
  border-radius: 0 !important;

  .progress-bar {
    background-color: $hand-up-color !important;
  }
}

.progressBarContainer {
  position: relative;
  text-align: center;
  transform: translate(0, -100%); 
}

.progressHandUp {
  position: absolute;
  left: 15px;
  top: 15%;
  text-align: initial;
  width: 30px;
  height: auto;
  
}

.numberUp {
  position: absolute;
  left: 55px;
  top: 15%;
  text-align: initial;
  font-size: 25px;
  font-weight: 300;
  font-family: Lato;
  color: white;
}

.progressHandDown {
  position: absolute;
  right: 15px;
  top: 15%;
  text-align: initial;
  width: 30px;
  height: auto;
}

.numberDown {
  position: absolute;
  right: 55px;
  top: 15%;
  text-align: initial;
  font-size: 25px;
  font-weight: 300;
  font-family: Lato;
  color: white;
}

button {
  outline-color: white !important;
}

  /* Mobile */
  @media screen and (max-width: 981px) {
    .personContainer {
      margin: 0;
    }

    .votes{
      margin-top: 600px;
    }

    .personName {
      bottom: 60%; 
      left: 40px;
      padding-right: 10px;
      line-height: 40px;
   }

   .iconHand {
    bottom: 63%;
    left: 0;
    }

    .personCategory {
      bottom: 53%;
      left: 40px;
      font-size: 16px;
    }

    .personInfo {
      position: absolute;
      top: 54%;
      left: 50%;
      font-size: 18px;
      text-shadow: none;
      margin-right: 1px;
      width: 80%;
    }
    
    .thanksInfo {
      position: absolute;
      top: 50%;
      left: 33%;
      font-size: 18px;
      text-shadow: none;
    }
    
    .people {
        justify-content: center;
    }
    
    .countUp {
      top: 68%;
      left: 16%;
      transform: translate(-50%, -50%); 
    }
    
    .countDown {
        top: 68%;
        left: 29%;
        transform: translate(-50%, -50%); 
    }
    
    .voteNow {
      top: 68%;
      left: 48%;
    }
    
    .voteAgain {
      top: 68%;
      left: 23%;
    }

    #personElement {
      width: 23.5rem;
      height: 23.5rem;
    }

    .personImage {
      width: 23.5rem;
      height: 23.5rem;
    }
  }


